<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:12583/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
                name="BasicHttpBinding_IService1" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Library_Managements_System_for_class_Project.LMS">
                <endpoint address="" binding="basicHttpBinding" contract="Library_Managements_System_for_class_Project.ILMS">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Library_Managements_System_for_class_Project/LMS/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Library_Managements_System_for_class_Project.WC">
                <endpoint address="" binding="basicHttpBinding" contract="Library_Managements_System_for_class_Project.IWC">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Library_Managements_System_for_class_Project/WC/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Library_Managements_System_for_class_Project.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="Library_Managements_System_for_class_Project.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Library_Managements_System_for_class_Project/Service1/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Library_Managements_System_for_class_Project.Library">
                <endpoint address="" binding="basicHttpBinding" contract="Library_Managements_System_for_class_Project.ILibrary">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Library_Managements_System_for_class_Project/Library/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Library_Managements_System_for_class_Project.LibrarySytem">
                <endpoint address="" binding="basicHttpBinding" contract="Library_Managements_System_for_class_Project.ILibrarySytem">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Library_Managements_System_for_class_Project/LibrarySytem/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>